// Place all the styles related to the ListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sortable thead {
  cursor: pointer
}

table.table tbody tr {
  td {
    line-height: 85%;
    font-size: 85%;
  }
}

table.table td.action {
  padding: 0.3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 1em;
}

label {
  min-width: 8rem;
}