<h1>Editing Knowledge Repository</h1>

<%= render 'form', knowledge_repository: @knowledge_repository %>

<%= link_to 'Show', @knowledge_repository %> |
<%= link_to 'Back', knowledge_repositories_path %>
